<nav class="navbar navbar-expand-lg navbar-light"  
    style="background-color: #F7F8F9; padding: 0px 128px">
    <!-- Image and text -->
  <nav class="navbar">
      <a class="navbar-brand item-active" href="#">
        <img src="/assets/coin-shadow.png" width="64" height="64" class="d-inline-block align-center" alt="">
        Title
      </a>
    </nav>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav h4 navbar-left">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" >Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/heroes" >Heroes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="disable">FAQs</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav h4 navbar-right">
      <li class="nav-item">
        <a class="btn btn-primary signin" routerLink="/footer" routerLinkActive="active">SIGN-IN</a>
      </li>
      <li class="nav-item">
          <a class="btn btn-primary signup" href="#">SIGN UP</a>
      </li>
    </ul>
  </nav>
